<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/home-client">YouBooking</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/reservation">Reservations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Vols</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">Attraction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"(click)="logout()">Déconnexion</a>
        </li>
        <li class="nav-item">
          <p class="nav-link"></p>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>
<header class="text-center text-white masthead" style="background:url('./assets/home.jpg')no-repeat center center;background-size:cover;">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto position-relative">
        <h1 class="my-5">Trouvez votre prochain séjour {{ user_name }} </h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
        <h4 class="mb-5">Recherchez des offres sur des hôtels, des hébergements indépendants et plus encore</h4>
      </div>
    </div>
  </div>
</header>

<div class="pricing6 py-5 bg-light">
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-6" *ngFor = "let hotel of hotels">
        <div class="card card-shadow border-0 mb-4">
          <div class="card-body p-4">
            <div class="row">

              <div class="hotel-card_images">
                <img src="./assets/hotel1.jpg" alt="" class="w-100">
              </div>
              <div class="hotel-card_info p-4">
                <h3>{{ hotel.name }}</h3>
                <div class="d-flex justify-content-between align-items-end">
                  <div class="hotel-card_details">
                    <div class="text-muted mb-2"><i class="fas fa-map-marker-alt"></i></div>
                    <ul class="hotel-checklist pl-0 mb-0">
                      <li><i class="fa fa-check text-success"></i> Lorem ipsum dolor</li>
                      <li><i class="fa fa-check text-success"></i> Cras lectus purus, </li>
                      <li><i class="fa fa-check text-success"></i> ornare eget congue</li>
                    </ul>
                  </div>
                  <div class="hotel-card_pricing text-center">
                    <h3>1,300 DH</h3>
                    <div *ngIf="hotel">
                      <button (click)="selectHotel(hotel.id_hotel)" class="btn btn-primary">Check Hôtel</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="">
  <footer class="text-center text-white" style="background-color: #0a4275;">
    <div class="container p-4 pb-0">
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3">Register for free</span>
          <button type="button" class="btn btn-outline-light btn-rounded">
            Sign up!
          </button>
        </p>
      </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" >YouBoking</a>
    </div>>
  </footer>
</section>
